body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
}

form {
    margin: 20px 0;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.plot {
    margin-top: 20px;
}

img {
    max-width: 40%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    textarea {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}
